<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>metalinks}}
    <title>Dashboard</title>
</head>
<body ng-app="myApp" ng-controller="Single_Customer_Controller">
    {{>navbar}}
    {{!-- <h1>Customer Details</h1> --}}
    <h2 class="welcome_name">Welcome, {{CustomerData.customer_name}}</h2>
    <div class="customer_info_container">
        <div class="customer_details_header"> Customer Details </div>
        <div class="underline"></div>
        <div class="customer_details_card">
            <div>
                <div>
                    Account No.: <b id="payer_account_number">{{CustomerData.customer_account_number}}</b>
                </div>
                <div>
                    Name: <b>{{CustomerData.customer_name}}</b>
                </div>
                <div>
                    Email: <b>{{CustomerData.customer_email}}</b>
                </div>
                <div>
                    Balance: <b><i class="fa-solid fa-indian-rupee-sign"></i> <span id="curr_balance">{{CustomerData.customer_balance}}</span> </b>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <br>
    <br>
    <div class="transfer_block">
        <div class="transfer_header">Make Transaction</div>
        <div class="underline"></div>
        <div class="transfer_card">
            <form action="/transfer" method="post">
                <input type="number" value="{{CustomerData.customer_account_number}}" name="payer_accountno" style="display:none">
                <input type="number" name="payee_accountno" placeholder="payee account no." ng-change="checkAccountNumber()" ng-model="payee_account_number">
                {{!-- <input type="text" name="payee_name" placeholder="payee name" > <br> <br> --}}
                <input type="number" name="amount" placeholder="Amount" id="amt" onblur="compareBalance()">
                <div class="error_message">{{error_msg}}</div>
                <input class="transfer_button" type="submit" value="Transfer" id="submit_button">
            </form>
            
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>