<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>metalinks}}
    <title>Dashboard</title>
</head>
<body>
    {{>navbar}}
    {{!-- <h1>Customer Details</h1> --}}
    <h2 class="welcome_name">Welcome, {{CustomerData.customer_name}}</h2>
    <div class="customer_details_card">
        <div>
            Account No.: <b>{{CustomerData.customer_account_number}}</b>
        </div>
        <div>
            Name: <b>{{CustomerData.customer_name}}</b>
        </div>
        <div>
            Email: <b>{{CustomerData.customer_email}}</b>
        </div>
        <div>
            Balance: <span id="curr_balance"> <b><i class="fa-solid fa-indian-rupee-sign"></i> {{CustomerData.customer_balance}} </b></span> 
        </div>
    </div>
     <br>
     <br>
    
    <br>
    <form action="/transfer" method="post">
        <input type="text" value="{{CustomerData.customer_name}}" name="payer_name" style="display:none">
        <input type="text" name="payee_name"> <br> <br>
        <input type="number" name="amount" id="amt" onblur="compareBalance()"> <br> <br>
        <input type="submit" value="Transfer" id="submit_button">
    </form>

</body>
</html>